<div class="container mx-auto px-4 py-8">
  <h2 class="text-3xl font-bold mb-8 text-center text-gray-800">Search result for "<%= @keyword %>"</h2>
    
  <div class="mb-8 space-y-4">
    <div class="flex max-w-md mx-auto">
      <input 
        type="text"
        id="search-input"
        placeholder="Search topics..." 
        class="flex-grow px-4 py-2 rounded-l-md border border-r-0 border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400"
      >
      <button 
        id="search-button" 
        class="px-4 py-2 bg-gray-200 text-gray-800 rounded-r-md border border-gray-300 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400"
        onclick="performSearch()"
      >
        Search
      </button>
    </div>
    <div class="flex flex-wrap justify-center gap-4">
      <select id="source-select" class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400" onchange="redirectWithSource(this.value)">
        <option value="">All Sources</option>
        <% @sources.each do |source| %>
          <option value="<%= source.id%>"><%= source.name %></option>
        <% end %>
      </select>
      <select id="sort-select" class="px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-gray-400" onchange="redirectWithSort(this.value)">
        <option value="">Default sort</option>
        <option value="newest">Newest First</option>
        <option value="oldest">Oldest First</option>
      </select>
  </div>
  </div>
    
  <div class="space-y-6">
    <%= render "posts", posts: @posts %>

    <% unless @blank_keyword %>
      <div class="flex justify-end">
        <%= paginate @posts %>
      </div>
    <% end %>
  </div>
</div>
<script>
  function redirectWithSource(sourceId) {
    const url = new URL(window.location.href);
    const params = new URLSearchParams(url.search);

    if (sourceId) {
      params.set('source', sourceId);
    } else {
      params.delete('source');
    }

    window.location.href = `${url.pathname}?${params.toString()}`;
  }

  function redirectWithSort(sortType) {
    const url = new URL(window.location.href);
    const params = new URLSearchParams(url.search);

    if (sortType) {
      params.set('sort', sortType);
    } else {
      params.delete('sort');
    }

    window.location.href = `${url.pathname}?${params.toString()}`;
  }

  function performSearch() {
    const keyword = document.getElementById('search-input').value.trim();

    if (keyword) {
      window.location.href = `/search?keyword=${encodeURIComponent(keyword)}`;
    } else {
      alert('Please enter a keyword to search.');
    }
  }
</script>
